@model IEnumerable<final_proyect.Models.Task>

@{
    ViewData["Title"] = "Tareas";
}

<form asp-controller="Task" asp-action="Index" method="get">
    <p>
        Nombre: <input type="text" name="SearchString" />
        <input type="submit" value="Buscar" />
    </p>
</form>

<table class="table mt-12">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Categoria
            </th>
            <th>
                Descripcion
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
            </td>
        </tr>
}
    </tbody>
</table>