@model IEnumerable<final_proyect.Models.Category>

@{
    ViewData["Title"] = "Categorias";
}

<form asp-controller="Category" asp-action="Index" method="get">
    <p>
        Nombre: <input type="text" name="SearchString" />
        <input type="submit" value="Buscar" />
    </p>
</form>

<a asp-action="Create">Agregar Nueva Categoria</a>

<table class="table mt-12">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>